@page "/"

<PageTitle>Index</PageTitle>

<h1>Speedboat Booking App</h1>

Click on the left menu to choose between Speedboat booking or Transfer booking.

<span class="text-nowrap">
    <br><br>Visit us on
    <a target="_blank" class="font-weight-bold link-dark" href="https://hvarexcursions.com"> hvarexcursions.com</a>
</span>
