@page "/showtable"
@using SpeedboatBookingApp.Models
@inject GoogleSheetsService SheetsService

<h3>Google Sheet Table with Collapsible Rows</h3>

@if (sheetData != null)
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    @foreach (var header in sheetData[0])
                    {
                        <th>@header?.Value</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (var rowIndex = 1; rowIndex < sheetData.Count; rowIndex++)
                {
                    <tr data-bs-toggle="collapse" data-bs-target="#details-@rowIndex" style="cursor:pointer;">
                        @for (var colIndex = 0; colIndex < sheetData[rowIndex].Count; colIndex++)
                        {
                            <td style="background-color:@sheetData[rowIndex][colIndex].BackgroundColor; color:@sheetData[rowIndex][colIndex].TextColor">
                                @sheetData[rowIndex][colIndex]?.Value
                            </td>
                        }
                    </tr>
                    <tr id="details-@rowIndex" class="collapse">
                        <td colspan="@sheetData[0].Count">
                            <!-- Additional details go here -->
                            <strong>Details for row @rowIndex:</strong>
                            <ul>
                                @foreach (var colIndex in Enumerable.Range(0, sheetData[rowIndex].Count))
                                {
                                    <li><strong>Column @colIndex:</strong> @sheetData[rowIndex][colIndex]?.Value</li>
                                }
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>Loading data...</p>
}

@code {
    private IList<IList<CellDataResponse>>? sheetData;

    protected override async Task OnInitializedAsync()
    {
        sheetData = await SheetsService.GetSheetDataWithColorsAsync("Availability2024");
    }
}
