<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="speedboatbooking">Speedboat Booking</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="transferbooking">Transfer Booking</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="showtable">Show Table</a>
        </li>
    </ul>
</div>
